body {
  padding: 50px;
  font:
    14px "Lucida Grande",
    Helvetica,
    Arial,
    sans-serif;
}

a {
  color: #00b7ff;
}

a:focus,
a:hover {
  color: #FF0000;
}

ul {
  list-style-type: none;
}

p {
  margin: 10px;
}
/*
img {
  min-height: 100px;
  min-width: 100px;
}
*/
.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 3rem;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}
